#gamefield {
    position: relative;
    top:10px;
    bottom:10px;
    width: 800px;
    height:500px;
    border:2px solid #708090;
}

.cannon {
    width:20px;
    height: 20px;
    background-color: #9acd32;
    position: absolute;
    bottom:10px;
    left:10px;
}

.bullet {
    width:2px;
    height:5px;
    background-color: #2f4f4f;
    position: absolute;
}

.house {
    width:20px;
    height:20px;
    position: absolute;
}
.h1 {
    background-color: black;
}
.h2 {
    background-color: #444;
}
.h3 {
    background-color: #888;
}
.h4 {
    background-color: #aaa;
}
.h5 {
    background-color: #ddd;
}
.h6 {
    background-color: #fff;
    border: 1px dotted grey;
}

.alien {
    width:20px;
    height:20px;
    position: absolute;
}
.bug {
    background-color: yellow;
}
.nasty {
    background-color: #9370db;
}
.baddies {
    background-color: #2f4f4f;
}
.minions {
    background-color: #b22222;
}